@page "/overview"

<h3>Overview</h3>
<div>
    <h1>The War Within</h1>
    <NavLink href="/11-0"><button>11.0</button></NavLink>
</div>
<div>
    <h1>Dragonflight</h1>
    <NavLink href="/10-2-6"><button>10.2.6</button></NavLink>
</div>


@code {

}
